__pycache__
.DS_Store

# virtual env
venv

# env vars
.env

# db volume
ny_taxi_postgres_data

# parquet files
data

# terraform
.terraform
.terraform.lock.hcl

# prefect
*deployment.yaml

# GCP
liquid-agility.json


# dbt
target/
dbt_packages/
logs/
.user.yml